body {
    background-color: darkcyan;
}


@media screen and (min-width: 500px){
    body {
        background-color: #deb887;
    }

}

@media screen and (min-width: 800px){
    body {
        background-color:darkslateblue
    }

}

@media print{
    nav {
        display: none;
    }
}