body {
    text-align: center;
}

.green-section {
    background-color: #406040;
    margin: 20px auto;
    border: solid 3px black;
    margin-bottom: -15px;
    max-width: 600px;
}

.yellow-section {
    background-color: #c7b878;
    margin: 20px auto;
    border: solid 3px black;
    margin-bottom: -15px;
    max-width: 600px;
}

h1 {
    max-width: 600px;
    margin: auto;
}

h2 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-top: 50px;
}


ol {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    list-style-position: inside;
    margin: 5px 0;
    text-align: center;
}
